* {
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: white;
}

.strike {
  position: relative;
  color: rgb(92, 92, 92);
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  animation-name: strike;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
